<div class="row">
    <div class="col-12 col-md-4" *ngFor="let meal of meals">
        <div class="card mb-3">
            <img [src]="meal.strMealThumbPreview" class="card-img-top w-100" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{meal.strMeal}}</h5>
              <p class="card-text">
                {{meal.strCategory}} / {{meal.strArea}}
              </p>
              <a routerLink="/meal/{{meal.idMeal}}" class="btn btn-primary">View</a>
            </div>
          </div>
    </div>
</div>